<!DOCTYPE html>
<html lang="en">
<body class="background on-surface-text">
    <!--
        - #TOP BAR
    -->
 <header class="top-bar">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/logo.svg" alt="FansFund">
        </a>
    </div>
   </header>  
</body>
<head>
    <%- include('../layouts/head.ejs', { title: 'FansFund | tox-in'})%>
</head>
</html>